.modal {position: absolute; z-index: 3; display: none; border-radius: 5px; overflow: hidden;}
.modal .conteudo, .modal .footer {background-color: white; z-index: 2;}
.modal .conteudo {padding: 10px;}

.modal300 {left: calc(50vw - 150px)}
.modal400 {left: calc(50vw - 200px)}
.modal500 {left: calc(50vw - 250px)}
.modal600 {left: calc(50vw - 300px)}
.modal700 {left: calc(50vw - 350px)}

.fundo {background-color: rgba(0,0,0,.5); height: 100vh; width: 100vw; position: absolute; top: 0; left: 0;}